* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #344a72;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 400px;
  margin: 30px auto;
  /* padding:20px; */
}

.form-wrap {
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 15px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  margin-bottom: 10px;
}

form {
  padding: 10px;
}

.form-group {
  /* padding: 10px; */
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 9px;
  border-radius: 5px;
  border: #ddd 2px solid;
}

.btn {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  background-color: #49c1a2;
  border: none;
  margin-bottom: 15px;
  cursor: pointer;
  color: #f4f4f4;
  display: block;
}

.btn:hover {
  background-color: #37a08e;
}

.form-wrap form p {
  text-align: center;
  line-height: 1.4em;
  font-size: 14px;
}

footer p {
  text-align: center;
  font-size: 14px;
}

footer p a {
  color: #49c1a2;
}
